# {{ ansible_managed }}

[Unit]
Description=MeiliSearch - lightning fast search engine
After=systemd-user-sessions.service

[Service]
Type=simple
User={{ meilisearch_user }}
Group={{ meilisearch_group }}

# hahn: added - it prevents Error: Permission denied (os error 13)
WorkingDirectory={{ meilisearch_db_path }}

ExecStart={{ meilisearch_exe_path }} --config-file-path {{ meilisearch_configfile }}

[Install]
WantedBy=default.target
